p{font-size:12px;color:#999;font-family:'Arial';line-height:2em;}
a{color:#727272;text-decoration:none;}
a:hover{text-decoration:underline;}
#dao{font-size:14px;color:#b9f605;font-weight:700;}
.hang{color:#fff;}
.special{color:#fdb306;}
